<?xml version="1.0" encoding="UTF-8"?>
<!-- status：log4j自身日志输出级别 -->
<!-- monitorInterval：指定时间重新加载配置文件，单位秒；-->
<configuration status="warn">
    <!-- 内部变量定义，使用${变量名}引用-->
    <properties>
        <property name="LOG_LEVEL">debug</property>
        <property name="LOG_FILE_DIR">log</property>
        <property name="PATTERN_CONSOLE">%d{yyyy-MM-dd HH:mm:ss.SSS} | %p | %t | %C : %m%n</property>
        <property name="PATTERN_FILE">%d{yyyy-MM-dd HH:mm:ss.SSS} | %p | %t | %c : %m%n</property>
    </properties>
    <appenders>
        <!-- 控制台输出的配置 -->
        <console name="console" target="SYSTEM_OUT">
            <!-- 日志输出格式 -->
            <patternLayout pattern="${PATTERN_CONSOLE}"/>
        </console>
        <!-- 日志文件配置 -->
        <rollingFile name="rollingFile"
                     fileName="${LOG_FILE_DIR}/today.log"
                     filePattern="${LOG_FILE_DIR}/backup/%d{yyyy-MM-dd}.%i.log">
            <patternLayout pattern="${PATTERN_FILE}"/>
            <!-- Policies :日志滚动策略 -->
            <policies>
                <!-- 按时间备份 -->
                <timeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- 按日志文件大小备份 -->
                <sizeBasedTriggeringPolicy size="100 MB"/>
            </policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <defaultRolloverStrategy max="20"/>
        </rollingFile>
    </appenders>

    <loggers>
        <!-- 设置指定包的日志等级 -->
        <logger name="org.springframework" level="info"/>
        <root level="${LOG_LEVEL}">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFile"/>
        </root>
    </loggers>
</configuration>